@charset "UTF-8";
/*-------------------------------------------------*/
/*  colors  
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*  font
/*-------------------------------------------------*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

button {
  outline: none;
  cursor: pointer; }

input, textarea, select {
  font-family: inherit;
  outline: none; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

h1, h2, h3, p {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input, textarea, select, button {
  font-family: inherit; }

/*-- START: base --*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px; }

.props, .off-list {
  list-style: none;
  padding: 0;
  margin: 0; }

/*-- END: base --*/
/* ========================
START: ELEMENTS
========================*/
/*-- START: page --*/
/*-- END: page --*/
/*-- START: header --*/
.main-header, .main-footer {
  background: #C4C4C4;
  font-size: 2.4rem;
  line-height: 0.83333;
  text-align: center;
  padding: 1.5rem;
  min-height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*-- END: header --*/
/*-- START: footer --*/
/*-- END: footer --*/
/*-- START: block --*/
.block {
  height: 11.07143em;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
  position: relative; }
  .block-wrapper {
    position: relative;
    display: block;
    overflow: hidden; }
  .block-wrapper:hover .block_image {
    -webkit-filter: blur(3px);
            filter: blur(3px); }
  .block-wrapper:hover .block_title {
    opacity: 0; }
  .block_image {
    color: white;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transition: .3s -webkit-filter linear;
    transition: .3s -webkit-filter linear; }
    .block_image-boat {
      background-image: url("../img/block-img_boat.jpg"); }
  .block_muted100 {
    background-color: #E8EBED; }
  .block_muted200 {
    background-color: #C4C4C4; }
  .block_muted300 {
    background-color: #A2A9B7;
    color: #fff; }
  .block_secondary {
    background-color: #FFAA87; }
  .block_success {
    background-color: #E3EBD3; }
  .block_info {
    background-color: #90BCE8; }
  .block_danger {
    background-color: #F55E62; }
  .block_warning {
    background-color: #FEBF26; }
  .block_light {
    background-color: #fff; }
  .block_dark {
    background-color: #000; }
  .block_stranger {
    background-color: #C7ABD4; }
  .block__title {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 1.4rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .block__text {
    overflow: auto;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    line-height: 1.45;
    letter-spacing: .01em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
    @media screen and (min-width: 480px) {
      .block__text {
        padding: 1.5rem 2rem; } }

.info-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: -3rem;
  margin-top: -3rem; }

.block-wrapper:hover .info-ico {
  transforM: translate(0, -30%);
  opacity: 1; }

/*-- END: block --*/
/*-- START: props --*/
.props {
  width: 100%;
  font-size: 1.4rem;
  text-align: left; }
  .props__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .props__item:not(:first-child) {
      margin-top: 3.6rem; }
    .props__item:after {
      content: '';
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0;
      border-top: 1px dotted currentColor;
      margin: 0 1.5rem; }
  .props__name, .props__value {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    white-space: nowrap; }
  .props__value {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: right;
    display: inline; }

/*-- END: props --*/
/*-- START: chat --*/
.chat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0; }

.chat {
  background-image: url("../img/chat-background.jpg");
  width: 100%;
  max-width: 65.1rem;
  background-size: cover;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15); }
  .chat-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0; }
    .chat-date:before, .chat-date:after {
      content: '';
      height: 1px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0;
      background-color: #A7AAAB; }
    .chat-date:before {
      margin-right: 1.5rem; }
    .chat-date:after {
      margin-left: 1.5rem; }
  .chat-messages {
    height: 51.7rem;
    border-bottom: 1px solid #DBDBDB;
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .chat-messages__list {
      padding: 0 1.4rem;
      overflow: auto; }
    .chat-messages__item .chat-message:not(:first-child) {
      margin-top: 2rem; }
  .chat-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .chat-message_self {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .chat-message_self .chat-message__message {
        margin-left: 0;
        margin-right: 1.8rem; }
    .chat-message__message {
      background-color: #fff;
      font-size: 1.4rem;
      line-height: 1.71429;
      padding: 1.5rem;
      padding-bottom: 1rem;
      border-radius: 0.5rem;
      margin-left: 1.8rem;
      position: relative; }
      .chat-message__message:before {
        content: '';
        right: 100%;
        top: 0.7rem;
        border: .5rem solid transparent;
        height: 0;
        width: 0;
        border-top-color: #fff;
        border-right-color: #fff;
        position: absolute; }
  .chat-send {
    padding: 2rem;
    padding-bottom: 3rem; }
    .chat-send__textarea {
      border: 1px solid #DBDBDB;
      border-radius: 4px;
      outline: none;
      width: 100%;
      max-width: calc(100% - 2.1rem);
      height: 12.9rem;
      font-size: 1.4rem;
      color: #696969;
      padding: 1rem;
      vertical-align: top;
      margin-bottom: 2rem;
      letter-spacing: .027em; }
    .chat-send__submit {
      background-color: #0F54B9;
      border-radius: 2.1rem;
      color: #fff;
      border: none;
      outline: none;
      -webkit-box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
              box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
      font-size: 1.6rem;
      line-height: 1.5;
      padding: .8rem 3rem;
      -webkit-transition: all .3s;
      transition: all .3s;
      letter-spacing: .03em; }
      .chat-send__submit:hover {
        background-color: #1369e8; }
  .chat-author {
    width: 4.7rem;
    height: 4.7rem;
    background-image: url("../img/author.jpg");
    background-position: center center;
    -webkit-mask-image: url(../img/author-mask.png);
            mask-image: url(../img/author-mask.png); }

/*-- END: chat --*/
/*========================
END: ELEMENTS
========================*/
/* ========================
START: UTILITIES
========================*/
/* обычно используем bootstrap grid 4
но в тз требовалось без бутстрапа */
/*-- START: grid --*/
.container {
  overflow: hidden; }
  .container_flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .container_flex-column .row {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto; }

.row {
  margin: 0 -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.flex-block {
  font-size: 3.125vw; }
  .flex-block__left {
    -ms-flex-preferred-size: 65.984375%;
        flex-basis: 65.984375%;
    max-width: 65.984375%; }
  .flex-block__right {
    -ms-flex-preferred-size: 34.015625%;
        flex-basis: 34.015625%;
    max-width: 34.015625%; }
  .flex-block__mb {
    margin-bottom: 10px; }
  .flex-block__big {
    height: 21.098em; }
  .flex-block__small {
    height: calc(10.55em - 5px); }

.col {
  padding: 0 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.col-1 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  padding: 0 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8; }

.order-start {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-sm-start {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-none {
    display: none; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .col-sm {
    padding: 0 0.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0; }
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .col-sm-1 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    padding: 0 0.5rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .flex-block {
    font-size: 3.0291vw; } }

@media screen and (min-width: 769px) {
  .flex-block {
    font-size: 2.32635rem; }
    .flex-block__mb {
      margin-bottom: .45em; } }

/*-- END: grid --*/
/*-- START: margins --*/
.mb-1, .page__header {
  margin-bottom: 1rem; }

/*-- END: margins --*/
.ovh {
  overflow: hidden; }

/*========================
END: UTILITIES
========================*/
/* ========================
START: MEDIA
========================*/
/*========================
END: MEDIA
========================*/
/* ========================
START: PLUGINS
========================*/
/*========================
END: PLUGINS
========================*/
