mixin block(title, text, link)
  if link
    a.block-wrapper(href="#")
      .info-ico: img(src="img/info.svg", alt="")
      .block&attributes(attributes)
      
        if title 
          span.block__title=title
        .block__text
          if text
            p!=text
          if block
            block
  else
    .block&attributes(attributes)
      if title 
        span.block__title=title
      .block__text
        if text
          p!=text
        if block
          block