.block{
    height: em(155, 14);
    padding: 15px;
    display: flex;
    text-decoration: none;
    color: inherit;
    position: relative;
    &-wrapper{
        position: relative;
        display: block;
        overflow: hidden;
    }
    &-wrapper:hover &_image{
        filter: blur(3px);
    }
    &-wrapper:hover &_title{
        opacity: 0;
    }
    &_image{
        color: white;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        transition:.3s -webkit-filter linear;;
        
        &-boat{
            background-image: url('../img/block-img_boat.jpg');
        }
    }
    @each $className, $color in $theme{
        &_#{$className}{
           background-color: $color; 
           @if($className == 'muted300'){
                color: $white;
            }
        }   
    }
    &__title{
        align-self: flex-end;
        font-size: 1.4rem;
        flex: 0 0 100%;
    }
    &__text{
        overflow: auto;
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
        line-height: 1.45;
        letter-spacing: .01em;
        flex: 0 0 100%;
        @media screen and (min-width: 480px){
            padding: 1.5rem 2rem;
        }
    }
}

.info-ico{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    width: 6rem;  
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(0,00%);
    opacity: 0;
    transition: all .3s;
    margin-left: -3rem;
    margin-top: -3rem;
}

.block-wrapper:hover .info-ico{
    transforM: translate(0,-30%);
    opacity: 1;
}